.info-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 50%; */
}